
main {
  min-height:80vh
}
.rating span {
margin : 0.1rem
}
h3 {
  padding: 1rem 0
}
h1 {
  font-size: 1.8rem;
  padding: 1rem
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0
}
.img-fluid{
  width:100vw;
  height: 90vh;
  object-fit: cover;
}
@media only screen and (max-width:800px) {
  .img-fluid{
    
  width:100vh;
  height: auto;
  object-fit:contain ;
 
  }
}
.navMenu{
  padding: 18px 10px;
align-items:center;
justify-content: center;
}
.navMenu::hover {
    box-shadow: -2px 0 hsl(125, 71%, 66%);
    color: hsl(125, 71%, 66%);
    text-decoration: none
}

